html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* GENERAL STYLES */
.black-border{
    border: 2px solid black;
    border-radius: 8px;
}

.container{
    width: 80%;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;
}

.book-form{
    padding: 20px 30px;
}

.form-label{
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 5px;
}

input{
    height: 15px;
    width: calc(100% - 20px);

    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
}


.library-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.book-display{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.book-entry{
    padding: 10px 20px 5px 20px;
    margin: 0;
    line-height: 3rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.book-read-state{
    font-size: 1rem;
    font-weight: 700;

    padding: 3px 9px;

    background-color: darkred;
    color: white;
    border-radius: calc((1rem + 6px) / 2);
}

.book-entry  button{
    min-width: 70px;
    height: 70px;

    background-size: cover;
    background-position: center;
}

.remove-entry{
    background-color: red;
    background-image: url(./images/trash-icon.svg);
}

.change-read-state{
    margin-left: 20px;
    background-image: url(./images/eye-icon-black.svg);
}